* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: gray;
}

.ideas {
  font-size: 0.8em;
}

a {
  color: #3f51b5;
}
