{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins":["notice"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": ["error", { "allow": ["_test", "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }],
    "no-prototype-builtins": "off",
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "notice/notice":["error", {
      "templateFile": ".licence-template"
    }]
  }
}
