extends layout

block scripts
  script(src='/elm.js')
  script.
    !{flagsStr}!{usersStr}!{validWeekNumbersStr}
    console.log(USERS);
    //- Elm.Main.fullscreen({
    //-   flags: FLAGS,
    //-   users: USERS,
    //-   validWeekNumbers: VALID_WEEK_NUMBERS,
    //- });
    Elm.Main.fullscreen(USERS)
