extends layout

block head
  link(rel='stylesheet', href='/bundle.css')

block content
  #root

block scripts
  script.
    !{flagsStr}
    !{usersStr}
    !{dailyScheduleWeeksStr}
    !{basisScheduleWeeksStr}
  script(src='/bundle.js')
