{{!--
 Copyright (C) 2018 Noah Loomans

 This file is part of rooster.hetmml.nl.

 rooster.hetmml.nl is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 rooster.hetmml.nl is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with rooster.hetmml.nl.  If not, see <http://www.gnu.org/licenses/>.

--}}
<!DOCTYPE html>
<html lang="nl">
<head>
  {{> head }}
  <title>Metis Rooster - Error</title>
  <style>
    body {
      font-family: "Roboto", sans-serif;
      text-align: center;
      margin: 32px;
    }

    .content {
      max-width: 600px;
      margin: 0 auto;
    }

    h1 {
      color: #212121;
      margin-bottom: 32px;
    }

    h2 {
      color: #727272;
      margin-bottom: 64px;
    }

    a, a:visited {
      margin: 8px;
      padding: 8px 16px;
      background-color: #c84127;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 3px;
    }

    a:hover, a:focus, a:active {
      background-color: #e45a3f;
    }
  </style>
</head>
<body>
  <img src="/icons/mml-logo.png" alt="">
  <h1>Er is iets mis gegaan tijdens het ophalen van de benodigde informatie</h1>
  <h2>Je kunt proberen door te gaan naar het oude rooster of Magister</h2>
  <a href="http://www.meetingpointmco.nl/Roosters-AL/doc/">Oud rooster</a>
  <a href="http://msa.magister.net/">Magister</a>
</body>
</html>
