extends layout

block head
  link(rel='stylesheet', href='/stylesheets/hello.css')

block content
  p.madeby Gemaakt door Noah Loomans
  p.ideas Heb je ideeën om dit te verbeteren? Mail me op&nbsp;
    a(href='mailto:noah.loomans+roostermml@hetcml.nl') noah.loomans+roostermml@hetcml.nl
