extends layout

block content
  form#search
    .input-wrapper
      input(type='text', placeholder='Search', autofocus)
    .autocomplete-wrapper
      ul.autocomplete
  #search-space-filler
  #week-selector
    .week-wrapper
      input(type='button', value='Vorige')
      span.current Loading...
      input(type='button', value='Volgende')
  iframe#schedule
