.Menu {
  .mdc-menu-anchor {
    height: 100%;
  }

  .mdc-button {
    height: 100%;
    min-width: unset;
    color: black;

    &::before, &::after {
      background-color: black;
    }

    i {
      // I should probably learn how to _properly_ control icon font sizes...
      font-size: 24px;
      margin-top: -5px;
    }
  }

  .mdc-list-item {
    i {
      padding-right: 8px;
    }
  }
}
