#search, #week-selector {
  background-color: inherit;
  box-shadow: inherit;
}

#search {
  border-bottom: 1px solid black;
  position: absolute;
}

#search .top-bar, #week-selector .week-wrapper {
  max-width: inherit;
}

#search input[type="search"] {
  background-color: inherit;
  color: black;
  font-weight: bold;
}

#search .fav {
  display: none !important;
}

#search #overflow-button {
  display: none;
}

#week-selector .week-wrapper {
  display: block;
}

#week-selector button {
  display: none;
}

#week-selector .current {
  color: black;
  padding: 16px;
  font-size: 1.1em;
  float: right;
}

#search-space-filler {
  display: none;
}

.menu {
  display: none;
}

#schedule {
  padding-top: 16px;
  width: 100%;
}

.no-print {
  display: none;
}

.print {
  display: initial;
}
