html, body {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

center {
  margin: 5px;
}

@media print {
  html, body {
    overflow: inherit;
    width: inherit;
    height: inherit;
    margin: inherit;
    -webkit-overflow-scrolling: inherit;
  }

  center {
    margin: inherit;
  }
}
