.page-index {
  background-color: #ececec;
  padding-top: 24vh;
  height: 100vh;

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    img {
      display: block;
      margin: 0 auto;
    }

    .search {
      margin-top: 64px;
    }
  }
}
