.page-index {
  background-color: #ececec;
  padding-top: calc(50vh - 245px);
  height: 100vh;

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 8px;

    img {
      display: block;
      margin: 0 auto;
    }

    .search {
      z-index: 1; // Position search above help-box
      margin-top: 64px;
    }
  }
}


@media (max-height: 510px) {
  .page-index {
    padding-top: 0px;

    .container {
      img {
        display: none;
      }

      .search {
        margin-top: 0px;
      }
    }
  }
}
