* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

@import "page-index";
@import "page-user";

@import "component-search";
@import "component-help-box";
@import "component-week-selector";
