body {
  font-family: 'Roboto';
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page-index {
  background-color: #ececec;
  padding-top: 24vh;
  height: 100vh;

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    img {
      display: block;
      margin: 0 auto;
    }

    .search {
      margin-top: 64px;
    }
  }
}

.search {
  border-radius: 2px;
  background-color: white;

  &--has-focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  &__results--has-results {
    border-top: 1px #BDBDBD solid;
  }

  &__icon-wrapper {
    height: 54px;
    padding: 15px;
    svg {
      height: 24px;
      width: 24px;
    }
  }

  &__input-wrapper {
    display: flex;
    height: 54px;

    input {
      border: 0;
      background-color: transparent;
      flex-grow: 1;
      height: inherit;
      padding: 16px;
      padding-left: 0px;
      font-size: 16px;
      outline: none;
    }
  }

  &__result {
    display: flex;

    &--selected {
      background-color: lightgray;
    }

    &__text {
      padding: 15px;
      padding-left: 0px;
      font-size: 16px;
      transform: translate(0, 3px);
    }
  }
}
